ComputerScience/Programming/CurrencyClient/CurrencyClientProject/Service References/CurrencyServiceReference1/CurrencyServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrencyServer.CurrencyItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyServer.CurrencyItem" nillable="true" type="tns:CurrencyServer.CurrencyItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyServer.CurrencyItem" nillable="true" type="tns:ArrayOfCurrencyServer.CurrencyItem" />
  <xs:complexType name="CurrencyServer.CurrencyItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="exchange" type="xs:double" />
      <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyServer.CurrencyItem" nillable="true" type="tns:CurrencyServer.CurrencyItem" />
  <xs:complexType name="ArrayOfConversionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConversionType" nillable="true" type="tns:ConversionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversionType" nillable="true" type="tns:ArrayOfConversionType" />
  <xs:complexType name="ConversionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="iso1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iso2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionType" nillable="true" type="tns:ConversionType" />
</xs:schema>