ComputerScience/Programming/CurrencyClient/CurrencyClientProject/Service References/CurrencyServiceReference1/CurrencyServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9295/CurrencyServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyServer" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DkktoEuro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dkk" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DkktoEuroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DkktoEuroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsoToExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsoToExchangeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsoToExchangeRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyServer" minOccurs="0" name="getCurrencyObjectsResult" nillable="true" type="q1:ArrayOfCurrencyServer.CurrencyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iso2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIsoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertFromIsoToIsoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExchangeRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExchangeRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIsoKeepSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iso2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFromIsoToIsoKeepSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertFromIsoToIsoKeepSessionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allConversions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allConversionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyServer" minOccurs="0" name="allConversionsResult" nillable="true" type="q2:ArrayOfConversionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfChanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfChangesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>