ComputerScience/Programming/CalcClient/CalcClient/Service References/CalcServiceReference/CalcService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalcService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalcService.DivisionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="quotient" type="xs:int" />
      <xs:element minOccurs="0" name="rest" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalcService.DivisionResult" nillable="true" type="tns:CalcService.DivisionResult" />
</xs:schema>