PractiseExamWCF/Client/Service References/ServiceReference1/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7069/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="StartServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="AllItemsResult" nillable="true" type="q1:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="ReadItemResult" nillable="true" type="q2:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="bid" nillable="true" type="q3:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>