PractiseExamWCF/Client/Service References/ServiceReference1/AuctionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7069/AuctionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7069/AuctionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7069/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_StartServer_InputMessage">
    <wsdl:part name="parameters" element="tns:StartServer" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_StartServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_AllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AllItems" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_AllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_ReadItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadItem" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_ReadItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_Bid_InputMessage">
    <wsdl:part name="parameters" element="tns:Bid" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_Bid_OutputMessage">
    <wsdl:part name="parameters" element="tns:BidResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="StartServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/StartServer" message="tns:IAuctionService_StartServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/StartServerResponse" message="tns:IAuctionService_StartServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/AllItems" message="tns:IAuctionService_AllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/AllItemsResponse" message="tns:IAuctionService_AllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/ReadItem" message="tns:IAuctionService_ReadItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/ReadItemResponse" message="tns:IAuctionService_ReadItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/Bid" message="tns:IAuctionService_Bid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/BidResponse" message="tns:IAuctionService_Bid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartServer">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/StartServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllItems">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/AllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadItem">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/ReadItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/Bid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:7069/AuctionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>