ExamPractiseMvc2/ExamPractiseMvc2/Service References/AuctionServiceReference1/AuctionsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1559/AuctionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_AuctionWebApplication" />
  <xs:element name="GetAllAuctionItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuctionItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_AuctionWebApplication" minOccurs="0" name="GetAllAuctionItemsResult" nillable="true" type="q1:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_AuctionWebApplication" minOccurs="0" name="GetAuctionItemResult" nillable="true" type="q2:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuctionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
        <xs:element minOccurs="0" name="idemDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ratingPrice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAuctionItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
        <xs:element minOccurs="0" name="bidPrice" type="xs:int" />
        <xs:element minOccurs="0" name="bidCustomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bidCustomPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvideBidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>