MusicDbProject/Client/Service References/MainServiceReference/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1635/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1635/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1635/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMainService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetRandomString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomString" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetRandomString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/DoWork" message="tns:IMainService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DoWorkResponse" message="tns:IMainService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetAllGenres" message="tns:IMainService_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetAllGenresResponse" message="tns:IMainService_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomString">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetRandomString" message="tns:IMainService_GetRandomString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetRandomStringResponse" message="tns:IMainService_GetRandomString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMainService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomString">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetRandomString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:1635/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>